.archive-button {
  display: none;
}

button:focus { 
  outline:0 !important; 
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-height: 48px;
}

.filter-buttons {
  margin-bottom: 12px;
}

.form-horizontal {
  margin-bottom: 40px;
}

.day-separator {
  padding: 10px 0px;
  font-size: 20px;
  background: linear-gradient(to top,aqua 0,yellow 33%,yellow 66%,aqua 100%);
}

hr {
  margin: 0px;
}

a.link-row:hover {
  text-decoration: none;
}

.link-row .row {
  padding: 10px 0px;
  color: #333;
}

.link-row:hover .row {
  background-color: #f5f5f5;
  cursor: pointer;
}

.link-row:hover .row .archive-button {
  display: block;
}

.row div:hover {
  white-space: normal;
}

.tag-emoji {
  font-size: 24px;
}
