button:focus { 
  outline:0 !important; 
}

.filter-buttons {
  margin-bottom: 12px;
}

.form-horizontal {
  margin-bottom: 40px;
}

hr {
  margin: 0px;
}

.link-row .row {
  padding: 10px 0px;
  color: #333;
}

.link-row:hover .row {
  background-color: #f5f5f5;
  cursor: pointer;
}

.tag-emoji {
  font-size: 24px;
}
