<div class="container">
  <h1>STASH</h1>
  <div class="row">
    <div class="col-md-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>title</th>
            <th>url</th>
            <th>tag</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |link|}}
            <tr>
              <td>{{link.title}}</td>
              <td>{{link.url}}</td>
              <td>{{link.author}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
