<div class="col-md-9">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th>url</th>
        <th>createdAt</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedLinks as |link|}}
        <tr {{action "goToLink" link}}>
          <td>{{link.title}}</td>
          <td>{{link.url}}</td>
          <td>{{link.createdAt}}</td>
          <td><i class="glyphicon glyphicon-ok"></i></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
